

h1 {
    
    text-align: center;
    background-color: green;
    color: white;
    padding: 2px;
    margin: 10px 20px;
      
}
.pd {
   
   margin-left: 250px;
    color: blue;
    margin-right: 20px;

   
    border-bottom: 2px solid black;
}
.pi{
    color:black;
    margin-left: 250px;
    margin-right: 20px;
   
   
   
   
}
.laguage-chip {
   
    padding: 8px 12px;
    margin: 5px;
    background-color:green;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.bb{
    hashover: 0.3s;
    background-color: green;        
    color: white;
    padding: 10px 20px; 
    border-radius: 5px; 
    border: none;
    cursor: pointer;
    margin-left: 1100px;

}
.bb:hover {
    background-color: darkgreen;
    color: white;
}